@model IntranetViewModel

@{
    ViewData["Title"] = "Usuń artykuł";
}

<h4>Usuń artykuł</h4>

<h5>Potwierdź usunięcie artykułu:</h5>
<hr />
<div>
    <table class="table table-hover">
        <tbody class="table-secondary">
        <tr>
            <th scope="row">
                    @Html.DisplayNameFor(model => model.ArticleModel.PageId)
            </th>
            <td>
                    @Html.DisplayFor(model => model.ArticleModel.Page.LinkTitle)
            </td>
        </tr>
        <tr>
            <th scope="row">
                    @Html.DisplayNameFor(model => model.ArticleModel.Title)
            </th>
            <td>
                    @Html.DisplayFor(model => model.ArticleModel.Title)
            </td>
        </tr>
        <tr>
            <th scope="row">
                    @Html.DisplayNameFor(model => model.ArticleModel.LinkTitle)
            </th>
            <td>
                    @Html.DisplayFor(model => model.ArticleModel.LinkTitle)
            </td>
        </tr>
        <tr>
            <th scope="row">
                    @Html.DisplayNameFor(model => model.ArticleModel.Body)
            </th>
            <td>
                    @Html.DisplayFor(model => model.ArticleModel.Body)
            </td>
        </tr>
        <tr>
            <th scope="row">
                    @Html.DisplayNameFor(model => model.ArticleModel.Position)
            </th>
            <td>
                    @Html.DisplayFor(model => model.ArticleModel.Position)
            </td>
        </tr>
        </tbody>
    </table>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ArticleModel.Id" />
        <input type="submit" value="Usuń" class="btn btn-danger mt-1 me-1" />
        <a class="btn btn-secondary mt-1 me-1" asp-action="Index">Powrót</a>
    </form>
</div>