@model IntranetViewModel

@{
    ViewData["Title"] = "Szczegóły artykułu";
}

<h4>Szczegóły artykułu</h4>

<hr />
<div class="container-fluid">
    <table class="table table-hover">
        <tbody class="table-secondary">
        <tr>
            <th scope="row">
                    @Html.DisplayNameFor(model => model.ArticleModel.PageId)
            </th>
            <td>
                    @Html.DisplayFor(model => model.ArticleModel.PageId)
            </td>
        </tr>
        <tr>
            <th scope="row">
                    @Html.DisplayNameFor(model => model.ArticleModel.Title)
            </th>
            <td>
                    @Html.DisplayFor(model => model.ArticleModel.Title)
            </td>
        </tr>
        <tr>
            <th scope="row">
                    @Html.DisplayNameFor(model => model.ArticleModel.Body)
            </th>
            <td>
                    @Html.DisplayFor(model => model.ArticleModel.Body)
            </td>
        </tr>
        <tr>
            <th scope="row">
                    @Html.DisplayNameFor(model => model.ArticleModel.LinkTitle)
            </th>
            <td>
                    @Html.DisplayFor(model => model.ArticleModel.LinkTitle)
            </td>
        </tr>
        <tr>
            <th scope="row">
                    @Html.DisplayNameFor(model => model.ArticleModel.Position)
            </th>
            <td>
                    @Html.DisplayFor(model => model.ArticleModel.Position)
            </td>
        </tr>
        </tbody>
    </table>
    <div class="form-group">
        <a class="btn btn-secondary mt-1 me-1" asp-action="Edit" asp-route-id="@Model.ArticleModel.Id">Edytuj</a>
        <a class="btn btn-secondary mt-1 me-1" asp-action="Index">Powrót</a>
    </div>
</div>