@model IntranetViewModel
@{
    ViewData["Title"] = "Artykuły";
    Layout = "_Layout";
}
<div class="container-fluid">
    <div class="row mt-3">
        <table class="table table-hover table-secondary">
            <thead class="align-middle">
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.ArticleModel.Id)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.ArticleModel.PageId)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.ArticleModel.Title)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.ArticleModel.LinkTitle)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.ArticleModel.Body)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.ArticleModel.Position)</th>
                    <th class="text-center fw-normal"><a asp-action="Create">Dodaj artykuł</a></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Articles)
                {
                    <tr class="table-light">
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.Page.LinkTitle)</td>
                        <td>@Html.DisplayFor(modelItem => item.Title)</td>
                        <td>@Html.DisplayFor(modelItem => item.LinkTitle)</td>
                        <td>
                            @if (item.Body?.Length > 100)
                            {
                                <s class="text-decoration-none">@item.Body.Substring(0, 100)...</s>
                            }
                            else
                            {
                                @item.Body
                            }
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Position)</td>
                        <td class="text-center fw-normal">
                            <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                            <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
