@model CreditApplications.Web.ViewModels.CreditApplicationViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<div>
    <h3>Credit application details</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfSubmission)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfSubmission)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerFirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerFirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerLastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerLastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTypeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductTypeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AmountRequested)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AmountRequested)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AmountGranted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AmountGranted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfLastStatusChange)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfLastStatusChange)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeFirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeFirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeLastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeLastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="AddToCart" asp-controller="Dashboard" asp-route-id="@Model.Id">Add to my cart</a> | 
    <a asp-action="Edit" asp-route-id="@Model!.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model!.Id">Delete</a> |
    <a asp-action="List">Back to list</a>
</div>
