@model IntranetViewModel

@{
    ViewData["Title"] = "Usuń stronę";
}

<h4>Usuń stronę</h4>

<h5>Potwierdź usunięcie strony:</h5>
<hr />
<div>
    <table class="table table-hover">
        <tbody class="table-secondary">
            <tr>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.PageModel.Title)
                </th>
                <td>
                    @Html.DisplayFor(model => model.PageModel.Title)
                </td>
            </tr>
            <tr>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.PageModel.Description)
                </th>
                <td>
                    @Html.DisplayFor(model => model.PageModel.Description)
                </td>
            </tr>
            <tr>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.PageModel.LinkTitle)
                </th>
                <td>
                    @Html.DisplayFor(model => model.PageModel.LinkTitle)
                </td>
            </tr>
            <tr>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.PageModel.Position)
                </th>
                <td>
                    @Html.DisplayFor(model => model.PageModel.Position)
                </td>
            </tr>
        </tbody>
    </table>

    <form asp-action="Delete">
        <input type="hidden" asp-for="PageModel.Id" />
        <input type="submit" value="Usuń" class="btn btn-danger mt-1 me-1" />
        <a class="btn btn-secondary mt-1 me-1" asp-action="Index">Powrót</a>
    </form>
</div>