@model IntranetViewModel

@{
    ViewData["Title"] = "Szczegóły strony";
}

<h4>Szczegóły strony</h4>

<hr />
<div>
    <table class="table table-hover">
        <tbody class="table-secondary">
            <tr>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.PageModel.Title)
                </th>
                <td>
                    @Html.DisplayFor(model => model.PageModel.Title)
                </td>
            </tr>
            <tr>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.PageModel.LinkTitle)
                </th>
                <td>
                    @Html.DisplayFor(model => model.PageModel.LinkTitle)
                </td>
            </tr>
            <tr>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.PageModel.Description)
                </th>
                <td>
                    @Html.DisplayFor(model => model.PageModel.Description)
                </td>
            </tr>
            <tr>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.PageModel.Position)
                </th>
                <td>
                    @Html.DisplayFor(model => model.PageModel.Position)
                </td>
            </tr>
        </tbody>
    </table>
    <div class="form-group">
        <a class="btn btn-secondary mt-1 me-1" asp-action="Edit" asp-route-id="@Model.PageModel.Id">Edytuj</a>
        <a class="btn btn-secondary mt-1 me-1" asp-action="Index">Powrót</a>
    </div>

</div>