@model IntranetViewModel
@{
    ViewData["Title"] = "Pages list";
    Layout = "_Layout";
}
<h4>Pages</h4>
<a asp-action="Create" class="btn btn-secondary" role="button">Add new page</a>
<div class="container-fluid">
    <div class="row">

        <table class="table table-hover">
            <thead>
            <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.PageModel.Id)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.PageModel.Title)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.PageModel.Body)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.PageModel.LinkTitle)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.PageModel.Position)</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Pages)
            {
                <tr class="table-primary">
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                    <td>@Html.DisplayFor(modelItem => item.Body)</td>
                    <td>@Html.DisplayFor(modelItem => item.LinkTitle)</td>
                    <td>@Html.DisplayFor(modelItem => item.Position)</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>