@model IntranetViewModel
@{
    ViewData["Title"] = "Strony";
    Layout = "_Layout";
}
<div class="container-fluid">
    <div class="row mt-3">
        <table class="table table-hover table-secondary">
            <thead class="align-middle">
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.PageModel.Id)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.PageModel.Title)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.PageModel.Body)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.PageModel.LinkTitle)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.PageModel.Position)</th>
                    <th class="text-center fw-normal"><a asp-action="Create">Dodaj stronę</a></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Pages)
                {
                    <tr class="table-light">
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.Title)</td>
                        <td>
                            @if (item.Body?.Length > 100)
                            {
                                <s class="text-decoration-none">@item.Body.Substring(0, 100)...</s>
                            }
                            else
                            {
                                @item.Body
                            }
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.LinkTitle)</td>
                        <td>@Html.DisplayFor(modelItem => item.Position)</td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                            <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>