@model IEnumerable<CreditApplicationViewModel>
@{
    ViewData["Title"] = "Credit applications";
    Layout = "_Layout";
}
<h4>Credit applications</h4>
<hr />
<a asp-action="Create" class="btn btn-secondary" role="button">Add new credit application</a>
<hr />

<div class="container-fluid">
    <div class="row">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.Id)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.DateOfSubmission)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.CustomerFullName)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.ProductTypeName)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Currency)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.AmountRequested)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.AmountGranted)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.ApplicationStatusId)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="table-primary">
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.DateOfSubmission)</td>
                        <td>@Html.DisplayFor(modelItem => item.CustomerFullName)</td>
                        <td>@Html.DisplayFor(modelItem => item.ProductTypeName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Currency)</td>
                        <td>@Html.DisplayFor(modelItem => item.AmountRequested)</td>
                        <td>@Html.DisplayFor(modelItem => item.AmountGranted)</td>
                        <td>@Html.DisplayFor(modelItem => item.ApplicationStatus)</td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
